<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="Formulario.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <form action="hola..php" method="post">
            <h1>Formulario</h1>
            <div class="input-box">
                <input type="text" placeholder="Nombres" autocomplete="on" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Apellidos" autocomplete="on" required>
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <input type="email" placeholder="Correo" autocomplete="on" required>
                <i class='bx bxs-envelope'></i>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Contraseña" autocomplete="on" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="remember-forgot">
            </div>
            <button type="submit" class="btn">Ingreso</button>
            <button type="submit" class="btn-1">Registro</button>
            <button type="submit" class="btn-2">Actualizar</button> 
            <button type="submit" class="btn-3">Borrar</button> 
            <div class="register-link">
                <p> <a href="#">DolceNevatto</a></p>
            </div>
        </div>
        </form>
        <?php
        echo 'hola';
?>
</body>
</html>